

.supportUsHeaderBg{
  background-image: url("/images/freepik__surreal-and-dreamlike-saturated-pastel-dreamy-atmo__53969 1.png");
}

.supportUsFooterBg{
  background-image: url("/images/24170 1(2).png");
 
}
