.newsBg{
    background-image: url("../../../public/images/freepik__a-rugged-curtain-assembled-from-metal-plates-etche__38478-removebg-preview\ 2.png");
    background-repeat: no-repeat;
    background-position:  98% 10%;
    background-size: contain; 
    background-color: #f178b647;
}