@import "tailwindcss";

.swiper {

    margin-top: 10px !important; 
    margin-bottom: 10px !important; 

    padding: 70px;
    
    padding-bottom: 50px !important; 
    padding-right:100px;
    padding-left:100px;

    
}




.custom-swiper2 {
  overflow: visible !important;
}

.custom-swiper2 .swiper-wrapper {
  overflow: visible !important;
}

.custom-swiper2 .swiper-button-next {
  right: -45px !important;
}

.custom-swiper2 .swiper-button-prev {
  left: -45px !important;
}






.swiper-pagination-bullet {
  width:   30px !important;
  height: 30px !important;  
}

.swiper-pagination {
bottom: -5px !important; 
left: 0;
right: 0;
}


.swiper-pagination-bullet {
  background: rgba(0, 0, 0, 0.3) !important; 
  opacity: 1 !important;
  width: 40px !important;
  height: 40px !important;
}


.swiper-pagination-bullet-active {
  background: #f178b6 !important;
  opacity: 1 !important;
}







.swiper-button-prev,
.swiper-button-next {
  color: #f178b6 !important; 
  width: 50px !important;
  height: 50px !important;
}


.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 24px !important;
}




.custom-swiper .swiper-button-next {
  right: -20px !important; 
}

.custom-swiper .swiper-button-prev {
  left: -40px !important; 
}



.contactus{
  background-image: url("../public/images/Rectangle\ 146.png");
  object-fit: cover;
}

.contactusfooter{
  background-image: url("../public/images/Rectangle\ 152.png");
  object-fit: cover;

}